.App {   /*   color: #61dafb;  */

}

div.card-body.card-responsive {
  display: flex;
  flex-direction: column;
}



.nav-link {
  font-size: 1rem;
}

.container-fluid {
  min-height: 100vh;
  height: max-content;
}

.filters {
  font-size: 150% !important;
}

div.custom-control.custom-radio {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;

}

.b-radius {
  border: 2px solid #919aa1;
  border-radius: 3px !important;
  font-size: 1.2rem;
  padding: 1px 30px !important;
}

.b-radius-3 {
  border-radius: 3px
}

.btn-primary {
  vertical-align: top !important;
  padding: 2px 20px;
}


.b-radius:focus {
  border-radius: 3px !important;
}

.c-pointer {
  cursor: pointer;
}

.row {
  min-width: 100% !important;
}
@media (min-width: 467px) {
  div.card-body.card-responsive {
    flex-direction: row !important;
    justify-content: space-around !important;
  }
}

@media (min-width: 767px) {
  .row {
    min-width: 100% !important;
  }

  div.card-body.card-responsive {
    flex-direction: column !important;
  }


}



.img-card {
  width: 100%;
  border-radius: 50% !important;

}

.padding-res {
  padding: 3rem !important;
}

@media (max-width: 767px) {
  .padding-res {
    padding: 1rem !important;
  }
}

@media (max-width: 800px) {
  .container-fluid {
    min-height: auto;
    height: auto;
    padding-bottom: 30px;
  }
}

.card h4 {
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}


/*   babababaa  */

.col-md-3 {
  padding-right: 0;
  padding-left: 0; 
}

.col-md-9, .col-sm-3 {
  padding-left: 0;
  padding-right: 0;

}

h4 {
  text-transform: unset;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.pagination {
  justify-content: space-between;
}

.pagination .page-item {
  padding: 5px;
  background-color: inherit !important;
  color: inherit;
}

.pagination .page-link {
  font-weight: 600 !important;
  border-radius: 20%;
  font-size: 1.2rem;
  background-color: inherit !important ;
  color: white !important;
  cursor: pointer;

}

.pagination .page-item.disabled {
  color: black !important;
} 

li.page-item.disabled span {
  color: rgb(112, 112, 112) !important;
  cursor: initial !important;

}

.min-heigth-90 {
  min-height: 70vh;
}

.text-normal {
  font-weight: normal !important;
}

.modal-res {
  display: block;
  text-align: center;
  min-height: 300px !important;
}

.hmodal-location {
  display: block !important;
  text-align: center !important;
  min-height: 0px !important;
}
.text-red {
  color: rgba(165, 16, 16, 0.863) !important;
}

.n-trans {
  text-transform: none !important;

}

